@font-face {
    font-family: 'OleoScriptSwashCaps-Regular';
    src: url('/fonts/OleoScriptSwashCaps-Regular.ttf');
    }
@font-face {
    font-family: 'YesevaOne-Regular';
    src: url('/fonts/YesevaOne-Regular.ttf');
    }
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('/fonts/Montserrat-Regular.ttf');
    }
@font-face {
    font-family: 'BioRhyme-ExtraLight';
    src: url('/fonts/BioRhyme-ExtraLight.ttf');
    }    
@font-face {
    font-family: 'MontserratAlternates-Thin';
    src: url('/fonts/MontserratAlternates-Thin.ttf');
    }
 @font-face {
    font-family: 'MontserratSubrayada-Regular';
    src: url('/fonts/MontserratSubrayada-Regular.ttf');
    }
 @font-face {
    font-family: 'Poppins-Bold';
    src: url('/fonts/Poppins-Bold.ttf');
    }
 @font-face {
    font-family: 'NanumBrushScript-Regular';
    src: url('/fonts/NanumBrushScript-Regular.ttf');
    }
 @font-face {
    font-family: 'LilitaOne-Regular';
    src: url('/fonts/LilitaOne-Regular.ttf');
    }


  
body {
	margin: 0;
    padding: 0;
    }

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    }

.background--Baby {
    position: relative;
    background:rgba(250, 255, 173, 0.644) image-url('background.png') no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain; 
    }   

.background--Boy {
    position: relative;
    background:rgba(161, 236, 255, 0.644) image-url('background.png') no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    }

.background--Girl {
    position: relative;
    background:rgba(255, 171, 244, 0.589) image-url('background.png') no-repeat center center fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    }


.blur {
    background-color:rgba(255, 255, 255, 0);
    backdrop-filter: blur(42px) grayscale(0.76);
    -moz-backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    z-index: 0;
    }

body {
	font: 14px 'Montserrat-Regular';
    line-height: 1.4em;
    background: #f5f5f500;    
    color: #2b2929;
	min-width: 230px;
	max-width: 550px;
	margin: 0 auto;
    font-weight: 300;
    }
:focus {
	outline: 0;
    }

.hidden {
	display: none;
    }

.babynameapp {
    opacity: 0.99;
	margin: 130px 0 40px 0;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
    }

.babynameapp input::-webkit-input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
    }

.babynameapp input::-moz-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
    }

.babynameapp input::input-placeholder {
	font-style: italic;
	font-weight: 300;
	color: #e6e6e6;
    }

label {
    font-family: 'MontserratAlternates-Thin';
    font-size: 22px;
    color: #1d1d1de1;
    font-weight: bold;
    width: 150px;
    }

h1 {
    position: absolute; 
    line-height: 82px;
	top: -160px;
    width: 100%;
    font-family: 'OleoScriptSwashCaps-Regular';
	font-size: 80px;
	font-weight: 110;
	text-align: center;
    color: rgb(255, 251, 10);
    -webkit-text-stroke: 1px rgb(63, 63, 63);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
    }

h2 {
   

    width: 100%;
    font-family: 'Poppins-Bold';
	font-size: 32px;
	text-align: center;
    color: rgba(75, 75, 75, 0.938);
    -webkit-text-stroke: 1px rgb(87, 87, 87);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
    }

h3 {
   

    width: 100%;
    
    font-family: 'BioRhyme-ExtraLight';
    line-height: 45px;
	font-size: 30px;
	text-align: center;
    color: rgb(56, 56, 56);
    -webkit-text-stroke: .5px rgb(83, 65, 85);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
    }   

h4 {
    position: relative;
    left: 10px;
    top: -120px;
    width: 100%;
    font-family: 'BioRhyme-ExtraLight';
	font-size: 20px;
	text-align: left;
	color: rgba(95, 95, 95, 0.863);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
    }

h5 {
   
    position: relative;
    width: 100%;
    font-family: 'LilitaOne-Regular';
	font-size: 38px;
    text-align: center;
    color: rgba(85, 85, 85, 0.932);
    -webkit-text-stroke: 1px rgb(51, 51, 51);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
    }

h6 {    

    font-family: 'YesevaOne-Regular';
    line-height: 37px;
	font-size: 36px;
    color: rgba(44, 44, 44, 0.863);
    -webkit-text-stroke: 1px rgb(122, 122, 122);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
    }

p {
    font-family: 'MontserratAlternates-Thin';
	font-size: 20px;
    color: rgb(0, 0, 0);
    -webkit-text-stroke: 1px rgb(0, 0, 0);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
    }

a:link {
    text-decoration:none;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
}

a:visited {
    text-decoration:none;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-text-stroke: 1px rgb(194, 194, 194);
    opacity: .1;
}

a:active {
    opacity: .5;
}

a:hover {
    opacity: .5;
}

.button2 {
    display:inline-block;
    padding:0.5em 3em;
    background: #f5fac6e7;
    border:0.16em solid #929292;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Poppins-Bold';
    font-weight:400;
    font-size: 15px;
    color:#222222;
    text-align:center;
    transition: all 0.15s;
    }

    .button2:hover{
        color:#DDDDDD;
        border-color:#535353;
        }

    .button2:active{
        color:#BBBBBB;
        border-color:#BBBBBB;
        }

.button-boy {
    display:inline-block;
    padding:0.5em 3em;
    background: #8be0fad0;
    border:0.16em solid #929292;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'LilitaOne-Regular';
    font-weight:400;
    font-size: 16.83px;
    color:#222222;
    text-align:center;
    transition: all 0.15s;
    }

    .button-boy:hover{
        color:#DDDDDD;
        border-color:#535353;
        }

    .button-boy:active{
        color:#BBBBBB;
        border-color:#BBBBBB;
        } 

.button-girl {
    display:inline-block;
    padding:0.5em 3em;
    background: #ff95dcc7;
    border:0.16em solid #929292;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'RougeScript-Regular';
    font-weight:400;
    font-size: 17px;
    color:#222222;
    text-align:center;
    transition: all 0.15s;
    }

    .button-girl:hover{
        color:#DDDDDD;
        border-color:#535353;
        }

    .button-girl:active{
        color:#BBBBBB;
        border-color:#BBBBBB;
        }

#fade .button3 {
    position: relative;
    display:inline-block;
    padding:0.5em 3em;
    background: #f5fac600;
    border:0.16em solid #929292;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-family:'Poppins-Bold';
    font-weight:400;
    font-size: 42px;
    color:#222222;
    text-align: center;
    transition: all 0.15s;
    backdrop-filter: blur(10px) grayscale(0.76);
    -moz-backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -o-backdrop-filter: blur(20px);
    z-index: 0;
    animation: fadein 5s;
    -moz-animation: fadein 5s; /* Firefox */
    -webkit-animation: fadein 5s; /* Safari and Chrome */
    -o-animation: fadein 5s; /* Opera */
    }
    #fade .button3:hover{
        color:#DDDDDD;
        border-color:#535353;
        }

    #fade .button3:active{
        color:#BBBBBB;
        border-color:#BBBBBB;
        }

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}


.new-babyname,
.edit {
	position: relative;
	margin: 0;
	width: 100%;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.new-babyname {
	padding: 16px 16px 16px 60px;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.errors-font {
    width: 100%;    
    font-family: 'MontserratAlternates-Thin';
    line-height: 35px;
	font-size: 22px;
	text-align: center;
    color: rgb(139, 61, 61);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;   
}
.main {
	position: relative;
	z-index: 2;
	border-top: none;
}

.toggle-all {
	width: 1px;
	height: 1px;
	border: none; /* Mobile Safari */
	opacity: 0;
	position: absolute;
	right: 100%;
	bottom: 100%;
}

.toggle-all + label {
	width: 60px;
	height: 34px;
	font-size: 0;
	position: absolute;
	top: -52px;
	left: -13px;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.toggle-all + label:before {
	content: '❯';
	font-size: 22px;
	color: #e6e6e6;
	padding: 10px 27px 10px 27px;
}

.toggle-all:checked + label:before {
	color: #737373;
}

.babyname-list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.babyname-list li {
	position: relative;
	font-size: 4px;
	border-bottom: 1px solid #ededed;
}

.babyname-list li:last-child {
	border-bottom: none;
}

.babyname-list li.editing {
	border-bottom: none;
	padding: 0;
}

.babyname-list li.editing .edit {
	display: block;
	width: 506px;
	padding: 12px 16px;
	margin: 0 0 0 43px;
}

.babyname-list li.editing .view {
	display: none;
}

.babyname-list li .toggle {
	text-align: center;
	width: 40px;
	/* auto, since non-WebKit browsers doesn't support input styling */
	height: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border: none; /* Mobile Safari */
	-webkit-appearance: none;
	appearance: none;
}

.babyname-list li .toggle {
    opacity: 0;
}

.babyname-list li .toggle + label {
	/*
		Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
		IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
	*/
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: center left;
}

.babyname-list li .toggle:checked + label {
	background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23bddad5%22%20stroke-width%3D%223%22/%3E%3Cpath%20fill%3D%22%235dc2af%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22/%3E%3C/svg%3E');
}

.babyname-list li label {
	word-break: break-all;
	padding: 15px 15px 15px 60px;
	display: block;
	line-height: 1.2;
	transition: color 0.4s;
}

.babyname-list li.completed label {
	color: #d9d9d9;
	text-decoration: line-through;
}

.babyname-list li .destroy {
	display: none;
	position: absolute;
	top: 0;
	right: 10px;
	bottom: 0;
	width: 40px;
	height: 40px;
	margin: auto 0;
	font-size: 30px;
	color: #cc9a9a;
	margin-bottom: 11px;
	transition: color 0.2s ease-out;
}

.babyname-list li .destroy:hover {
	color: #af5b5e;
}

.babyname-list li .destroy:after {
	content: '×';
}

.babyname-list li:hover .destroy {
	display: block;
}

.babyname-list li .edit {
	display: none;
}

.babyname-list li.editing:last-child {
	margin-bottom: -1px;
}

.footer {
    font-family: 'YesevaOne-Regular';
	color: rgb(20, 20, 20);
	padding: 10px 15px;
	height: 20px;
	text-align: center;
	border-top: 1px solid #8f8f8f85;
}

.footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.babyname-count {
	float: left;
	text-align: left;
}

.babyname-count strong {
	font-weight: 300;
}

.filters {
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0;
	left: 0;
}

.filters li {
	display: inline;
}

.filters li a {
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

.filters li a:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

.filters li a.selected {
	border-color: rgba(175, 47, 47, 0.2);
}

.clear-completed,
html .clear-completed:active {
	float: right;
	position: relative;
	line-height: 20px;
	text-decoration: none;
	cursor: pointer;
}

.clear-completed:hover {
	text-decoration: underline;
}

.info {
	color: #222222;
	text-shadow: 0 1px 0 rgba(19, 19, 19, 0.911);
	text-align: center;
}

.home-box {

    position: relative;
    text-align: center;
    top: 250px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(247, 255, 170, 0);
    width: 100%;
    padding: 20px;
	box-sizing: border-box;
}

.box {

    position: relative;
    margin-left: auto;
    margin-right: auto;
    background: rgba(246, 255, 170, 0.836);
    width: 96.5%;
    padding: 0px;
    margin:2px 10px;
    border: 1px solid rgba(153, 153, 153, 0.61);
	box-shadow: 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
}



input[type=text] {
    width: 41%;
    font-family: 'NanumBrushScript-Regular';
    border-color: rgba(97, 97, 97, 0.2);
    background-color:rgba(255, 255, 255, 0.774);
    color:rgba(29, 29, 29, 0.89);
    font-size: 25px;
	font-weight: 110;
    text-align: center;
  }

input[type=password] {
    width: 60%;
    padding: 5px;
    margin:2px 10px;
    font-family: 'NanumBrushScript-Regular';
    border-color: rgba(97, 97, 97, 0.2);
    background-color:rgba(255, 255, 255, 0.774);
    color:rgba(29, 29, 29, 0.89);
    font-size: 25px;
	font-weight: 110;
    text-align: center;
}

textarea {
    width: 70%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color:rgba(255, 255, 255, 0.774);
    border-color: rgba(97, 97, 97, 0.2);
    resize: none;
}
/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.toggle-all,
	.babyname-list li .toggle {
		background: none;
	}

	.babyname-list li .toggle {
		height: 40px;
	}
}

@media (max-width: 430px) {
	.footer {
		height: 50px;
	}

	.filters {
		bottom: 10px;
	}
}



